html {
  background:  #050608;
  color: white;
  scroll-behavior: smooth;
  margin: auto;
  background-size: cover;
}

body {
  max-width: 375px;
  margin: auto;
  background: #282828;
  border-left: 3px solid white;
  border-right: 3px solid white;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

